Install-WindowsUpdate -AcceptEula
Set-WindowsExplorerOptions -EnableShowHiddenFilesFoldersDrives -EnableShowProtectedOSFiles -EnableShowFileExtensions
Enable-RemoteDesktop

cinst conemu
cinst everything
cinst filezilla
cinst firefox
cinst git
cinst jdk8
cinst notepadplusplus
cinst poshgit
cinst python
cinst pip
cinst sublimetext3
cinst tomcat
cinst vim
cinst sql-server-management-studio
cinst sql-server-2016-developer-edition
